.subtitle {
    margin-bottom: 1.5rem;
}

.item-cardapio {
    width: 80%;
    text-align: center;
}

.item-cardapio h3 {
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

select, input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

.container-salgados {
    width: 100%;
}

.container-salgados input {
    width: 4rem;
}

#outra-opcao-salgado {
    width: 100%;
}

.mini-churros, .bolo {
    margin-bottom: 1rem;
}

.mini-churros span, .bolo span {
    margin-right: 1rem;
}

.doces {
    width: 100%;
}

.doces input {
    width: 4rem;
}

.mini-lanchonete label {
    margin: 4px;
}

.select {
    margin: 5px;
}