.section-controle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.controle-container {
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}

.title {
    margin: 1rem 0;
}

.input-box {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

input {
    margin: 10px 0;
    width: 100%;
    padding: 5px;
}

.button-container {
    margin: 10px 0;
}

.button-container button {
    padding: 7px;
    border: none;
    background-color: #43A3E6;
    color: white;
    border-radius: 7px;
    transition: 200ms;
}

.button-container button:hover {
    cursor: pointer;
    background-color: #1d5f8f;
}

.convidados-cadastrados {
    border: 1px solid black;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid black;
    padding: 6px;
}

.editar-convidado {
    padding: 7px;
    border: none;
    background-color: #43A3E6;
    color: white;
    border-radius: 7px;
    transition: 200ms;
}