@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.section {
    margin-top: 100px;
}

.none {
    display: none;
}

.success {
    background-color: rgb(139, 255, 116);
    color: rgb(14, 117, 0);
    border: 1px solid rgb(14, 117, 0);
    padding: 4px;
}

.warning {
    background-color: rgb(248, 248, 145);
    color: rgb(129, 129, 1);
    border: 1px solid rgb(116, 116, 0);
    padding: 4px;
}

.align {
    display: flex;
    align-items: center;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scroll-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.loading {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 900;
}

#form-pesquisa {    
    display: flex;
}