.subheader-container {
    padding: 1rem;
    text-align: center;
    background-color: #fff;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 1%;
    transition: 200ms;
}

.salvar-btn:hover {
    background-color: #43A3E6;
    color: white;
    cursor: pointer;
}

.section-details-container {
    padding: 1rem;
    background-color: #fff;
}

.btn-info:hover {
    background-color: #43A3E6;
    color: white;
    cursor: pointer;
}

.info-festa-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: small;
    border-radius: 5px;
    padding: 1rem;
}

.info-festa-container div {
    margin: 0.5rem;
}

input, select {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

input[type='number'] {
    width: 3rem;
}

