.row {
    display: flex;
}

.input-single {
    margin: 30px 0;
    position: relative;
    margin: 1rem;
}

.input-single label {
    font-size: 16px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    cursor: text;
    transition: 300ms ease-in-out;
    color: gray;
}

.input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: 0;
}

.input-single .input:focus, .input:valid {
    border: 2px solid cornflowerblue;
}


.input-single .input:focus ~ label, .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: cornflowerblue;
}