.subheader-container {
    padding: 1rem;
    text-align: center;
    background-color: #fff;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 1%;
    transition: 200ms;
}

.salvar-btn:hover {
    background-color: #43A3E6;
    color: white;
    cursor: pointer;
}

.section-details-container {
    padding: 1rem;
    background-color: #fff;
}

.btn-info:hover {
    background-color: #43A3E6;
    color: white;
    cursor: pointer;
}

.info-festa-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: small;
    border-radius: 5px;
    box-shadow: 15px 15px 49px #9d9d9d,
        -15px -15px 49px #ffffff;
    padding: 1rem;
}

.info-festa-container div {
    margin: 0.5rem;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

input[type='number'] {
    width: 3rem;
}

.info-fornecedores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid lightgray;
}

td, th {
    padding: 0.5%;
    width: 100%;
    word-break: break-all;
}

.table-container table #header-tr{
    border-bottom: 2px solid black;
}

.body-tr {
    border-bottom: 1px solid black;
}

.container-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}