.section-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.sem-preencher {
    border: 1px solid red;
    padding: 3px;
    border-radius: 4px;
}

.text-center {
    text-align: center;
}

.title {
    margin-bottom: 2rem;
}

.form {
    width: 80%;
    border: 1px solid black;
    padding: 2rem;
}

.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.progress-bar::before,
.progress {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightgray;
    z-index: -1;
}

.progress {
    background-color: rgb(67, 163, 230);
    width: 0%;
    transition: 200ms;
}

.progress-step {
    width: 2.1874rem;
    height: 2.1874rem;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step-active {
    background-color: rgb(67, 163, 230);
    color: white;
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.85rem;
    color: gray;
}

.page {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 200ms;
}

.page-step {
    display: none;
}

.page-step-active {
    display: flex;
}

.input-box {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "label input";
    margin-bottom: 10px;
}

.input-box label {
    grid-area: label;
}

.input-box input {
    grid-area: input;
    padding: 5px;
}

.observation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container-btn {
    text-align: center;
    margin-top: 20px;
}

.btn-next {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 163, 230);
    color: white;
    transition: 200ms;
}

.btn-next:hover {
    background-color: rgb(32, 129, 199);
    cursor: pointer;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}