<div class="input-cardapio">
    <label for="">Mesa de Boas Vindas (2 Opções)</label>
    <div>
        <input type="checkbox" name="canapes-de-salpicao" id="canapes-de-salpicao" value="Canapés de Salpicão">
        <label for="canapes-de-salpicao">Canapés de Salpicão</label>
        <input type="checkbox" name="batatinha-recheada-com-requeijao" id="batatinha-recheada-com-requeijao"
            value="Batatinha Recheada com Requeijão">
        <label for="batatinha-recheada-com-requeijao">Batatinha Recheada com Requeijão</label>
        <input type="checkbox" name="brusqueta" id="brusqueta" value="Brusqueta">
        <label for="brusqueta">Brusqueta</label>
        <input type="checkbox" name="espetinho-de-frios" id="espetinho-de-frios" value="Espetinho de Frios">
        <label for="espetinho-de-frios">Espetinho de Frios</label>
    </div>
</div>
<div class="input-cardapio">
    <label for="">Bebida Extra</label>
    <div>
        <input type="checkbox" name="smothie-frutas-vermelha" id="smothie-frutas-vermelha"
            value="Smoothie de Frutas Vermelhas" checked>
        <label for="smothie-frutas-vermelha">Smoothie de Frutas Vermelhas</label>
    </div>
</div>
<div class="input-cardapio">
    <label for="">Salgados (6 Opções | 3 Fritos e 3 Assados)</label>
    <div>
        <select name="fritos-1" id="fritos-1">
            <option value="Coxinha de Frango">Coxinha de Frango</option>
            <option value="Coxinha de Frango com Catupiry">Coxinha de Frango com Catupiry</option>
        </select>
        <label for="quantidade-fritos-1">Quantidade</label>
        <input type="number" id="quantidade-fritos-1" name="quantidade-fritos-1">
        <select name="fritos-2" id="fritos-2">
            <option value="Coxinha de Frango">Coxinha de Frango</option>
            <option value="Coxinha de Frango com Catupiry">Coxinha de Frango com Catupiry</option>
        </select>
        <label for="quantidade-fritos-2">Quantidade</label>
        <input type="number" id="quantidade-fritos-2" name="quantidade-fritos-2">
        <select name="fritos-3" id="fritos-3">
            <option value="Coxinha de Frango">Coxinha de Frango</option>
            <option value="Coxinha de Frango com Catupiry">Coxinha de Frango com Catupiry</option>
        </select>
        <label for="quantidade-fritos-3">Quantidade</label>
        <input type="number" id="quantidade-fritos-3" name="quantidade-fritos-3">
        <select name="assados-1" id="assados-1">
            <option value="Empada de Frango">Empada de Frango</option>
            <option value="Empada de palmito">Empada de palmito</option>
        </select>
        <label for="quantidade-assados-1">Quantidade</label>
        <input type="number" id="quantidade-assados-1" name="quantidade-assados-1">
        <select name="assados-2" id="assados-2">
            <option value="Empada de Frango">Empada de Frango</option>
            <option value="Empada de palmito">Empada de palmito</option>
        </select>
        <label for="quantidade-assados-2">Quantidade</label>
        <input type="number" id="quantidade-assados-2" name="quantidade-assados-2">
        <select name="assados-3" id="assados-3">
            <option value="Empada de Frango">Empada de Frango</option>
            <option value="Empada de palmito">Empada de palmito</option>
        </select>
        <label for="quantidade-assados-3">Quantidade</label>
        <input type="number" id="quantidade-assados-3" name="quantidade-assados-3">
    </div>
</div>
<div class="input-cardapio">
    <h3>Finger 01 (01 Opção)</h3>
    <div>
        <p>Mini Penne ao molho (escolher uma opção de molho)</p>
        <input type="radio" name="finger" id="4-queijos" value="4 queijos">
        <label for="4-queijos">4 Queijos</label>
        <input type="radio" name="finger" id="bolonhesa" value="Bolonhesa">
        <label for="bolonhesa">Bolonhesa</label>
        <input type="radio" name="finger" id="pomodoro" value="Pomodoro">
        <label for="pomodoro">Pomodoro</label>
        <input type="radio" name="finger" id="sugo" value="Sugo">
        <label for="sugo">Sugo</label>
        <input type="radio" name="finger" id="alfredo" value="Alfredo">
        <label for="alfredo">Alfredo</label>
    </div>
</div>
<div class="input-cardapio">
    <h3>Finger 02 (02 Opção)</h3>
    <div>
        <input type="radio" name="finger-2" id="petit-risoto-palmito" value="Petit Risoto de Palmito">
        <label for="petit-risoto-palmito">Petit Risoto de Palmito</label>
        <input type="radio" name="finger-2" id="petit-risoto-alho-poro" value="Petit Risoto de Alho Poró">
        <label for="petit-risoto-alho-poro">Petit Risoto de Alho Poró</label>
        <input type="radio" name="finger-2" id="petit-risoto-tomate" value="Petit Risoto de Tomate Seco com Rúcula">
        <label for="petit-risoto-tomate">Petit Risoto de Tomate Seco com Rúcula</label>
        <input type="radio" name="finger-2" id="mini-strogonoff-frango" value="Mini Strogonoff de Frango">
        <label for="mini-strogonoff-frango">Mini Strogonoff de Frango</label>
    </div>
</div>
<div class="input-cardapio">
    <h3>Sobremesas</h3>
    <div class="">
        <span>Mini Churros</span>
        <input type="radio" name="mini-churros" id="mini-churros-sim" value="Sim">
        <label for="mini-churros-sim">Sim</label>
        <input type="radio" name="mini-churros" id="mini-churros-nao" value="Não">
        <label for="mini-churros-nao">Não</label>
    </div>
    <div>
        <p>Bolo:</p>
        <input type="radio" name="bolo" id="brigadeiro" value="Brigadeiro">
        <label for="brigadeiro">Brigadeiro</label>
        <input type="radio" name="bolo" id="crocante" value="Crocante">
        <label for="crocante">Crocante</label>
        <input type="radio" name="bolo" id="dois-amores" value="Dois Amore">
        <label for="dois-amores">Dois Amore</label>
        <input type="radio" name="bolo" id="coco" value="Coco">
        <label for="coco">Coco</label>
    </div>
    <div>
        <p>Doces (5 Opções | 3 Simples e 2 Especiais</p>
        <select name="simples-1" id="simples-1">
            <option value="Brigadeiro Preto">Brigadeiro Preto</option>
        </select>
        <select name="simples-2" id="simples-2">
            <option value="Brigadeiro Preto">Brigadeiro Preto</option>
        </select>
        <select name="simples-3" id="simples-3">
            <option value="Brigadeiro Preto">Brigadeiro Preto</option>
        </select>
        <select name="especial-1" id="especial-1">
            <option value="Bombom de Uva">Bombom de Uva</option>
        </select>
        <select name="especial-2" id="especial-2">
            <option value="Bombom de Uva">Bombom de Uva</option>
        </select>
    </div>
</div>
<div class="input-cardapio">
    <h3>Mini Lanchonete</h3>
    <div>
        <input type="checkbox" name="refrigerante" id="refrigerante" value="Refrigerante">
        <label for="refrigerante">Refrigerante</label>
        <input type="checkbox" name="agua" id="agua" value="Água">
        <label for="agua">Água</label>
        <input type="checkbox" name="suco-laranja" id="suco-laranja" value="Suco de Laranja">
        <label for="suco-laranja">Suco de Laranja</label>
        <input type="checkbox" name="suco-uva" id="suco-uva" value="Suco de Uva">
        <label for="suco-uva">Suco de Uva</label>
        <input type="checkbox" name="cha-gelado" id="cha-gelado" value="Chá Gelado">
        <label for="cha-gelado">Chá Gelado</label>
    </div>
    <p>Pipoca, pão de queijo, nuggets, brigadeiro de colher, gelatina e batata frita.</p>
</div>